<h1>Submission for Request personal information</h1>

<h2>Are you requesting your own information or on behalf of someone else?</h2>
<%= requesting_own_data %>

<h2>Subject name</h2>
<%= subject_full_name %>

<h2>Any other names subject information may be stored under?</h2>
<%= subject_other_name %>

<h2>Date of birth</h2>
<%= subject_dob %>

<h2>Photo ID</h2>
<%= subject_photo_id_file_name %>

<h2>Proof of address</h2>
<%= subject_proof_of_address_file_name %>

<br>

<h2>Do you want personal information held by the Prison Service?</h2>
<%= prison_service_data %>

<br>

<h2>Do you want personal information held by the Probation Service?</h2>
<%= probation_service_data %>

<br>

<h2>Do you want personal information held by the Legal Aid Agency (LAA)?</h2>
<%= laa_data %>

<br>

<h2>Do you want personal information held by the Office of the Public Guardian (OPG)?</h2>
<%= opg_data %>

<br>

<h2>Do you want personal information held by another part of the Ministry of Justice?</h2>
<%= other_data %>

<br>

<h2>Where we'll send the information</h2>
<%= contact_address %>

<h2>Email address</h2>
<%= contact_email %>

<br>

<h2>Do you need this information for an upcoming court case or hearing?</h2>
<%= needed_for_court %>
